---
tags:
  - 首字母/V
  - 级别/高考四级
掌握: false
模糊: false
间隔: 0
重复次数: 0
易记因子: 250
到期日: 2025-04-30
---
# verification
##### 词义
- 英：/ˌvɛrɪfɪˈkeɪʃən/； 美：/ˌvɛrəfəˈkeɪʃən/
- #词性/n  验证；检验，检查，审核；验收；查证，证实，验证，核实；鉴定；查清；核对（账目的）真实性
##### 例句
- Food Analysis and Safety Verification Course Design Guiding on Work Process
	- 工作过程导向的食品分析与检验课程设计
- Design verification shows the reliability of the reference data .
	- 设计检验说明了分析结果的可靠性。
- In low-risk areas , apart from key locations and personnel , the verification of health codes is not compulsory .
	- 通知还明确：在低风险地区，除特殊场所和特殊人员外，一般不应查验“健康码”。
